.home_body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.feed {
  padding: 0px 10px;
  margin-left: 26vw;
  margin-right: 35vw;
  border: 1px solid rgb(227, 226, 226);
  width: 100%;
}
