.lsidebar_body {
  width: 30vw;
  border: 1px solid rgb(227, 226, 226);
  min-height: 100vh;
  height: 100%;
  /* padding: 20px 80px; */
}
.lsidebar_components {
  margin: 15px 60px;
}
.sidebar_icon {
  height: 1.8rem;
  width: 1.8rem;
  color: rgb(18, 179, 243);
}
.dd {
  display: flex;
  margin-top: 20px;
  color: rgb(64, 63, 63);
}
.menu_icon {
  margin-top: 5px;
  height: 1.5rem;
  width: 1.5rem;
}
.menu_item {
  font-size: 20px;
}

/* --- right side bar ---  */

.rsidebar_body {
  width: 30vw;
  border: 1px solid rgb(227, 226, 226);
  padding: 5px 50px;
}

/* --- search ---  */

#search {
  position: sticky;
  top: 0;
}
#search_textfield {
  border: 1px solid gray;
  display: flex;
  border-radius: 35px;
}
.searchfield {
  padding: 0px !important;
  border: none !important;
}
.search_textfield {
  padding: 0px !important;
  border: none !important;
}
.MuiOutlinedInput-root {
  padding: 3px !important;
  border: none !important;
}
