.lsidebar_body {
  width: 26vw;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  height: 100vh;
  position: fixed;
  left: 0;
}
.lsidebar_components {
  width: fit-content;
}
.sidebar_icon {
  height: 1.8rem;
  width: 1.8rem;
  color: rgb(29, 155, 240);
}
.dd {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(64, 63, 63);
  padding: 12px 18px;
  border-radius: 35px;
  width: fit-content;
  cursor: pointer;
}
.dd:hover {
  background-color: rgb(235, 235, 235);
}
.menu_icon {
  margin-top: 5px;
  height: 1.5rem;
  width: 1.5rem;
}
.menu_item {
  font-size: 20px;
}
.logout_section {
  margin-top: 20px;
  width: 18vw;
  border: none;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.logout_section:hover {
  background-color: rgb(235, 235, 235);
}
.tweet_button {
  border-radius: 35px;
  border: none;
  background-color: rgb(29, 155, 240);
  color: white;
  padding: 12px;
  width: 14vw;
  font-weight: bold;
}
.tweet_modal_body {
  margin: 0 !important;
  height: fit-content !important;
}

/* --- right side bar ---  */

.rsidebar_body {
  width: 35vw;
  height: 100vh;
  position: fixed;
  right: 0;
}
.rsidebar_body2 {
  padding-top: 10px;
  padding-left: 30px;
}
.rsidebar_component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(223, 222, 222, 0.656);
  padding: 20px;
  border-radius: 10px;
  width: 25vw;
  height: 42vh;
  /* height: max-content; */
}
.home_sign_up {
  font-weight: bold;
}
.terms2 {
  color: rgb(83, 100, 113);
  /* width: 20vw; */
}
.terms2 a {
  color: rgb(29, 155, 240);
}
.rsidebar_footer {
  width: 25vw;
  margin: 15px 0px;
  text-align: justify;
}
.bb {
  margin-right: 40px;
  line-height: 25px;
  color: rgb(60, 60, 60);
}

/* --- search ---  */

/* #search {

} */
#search_box {
  border: none;
  background-color: rgba(177, 176, 176, 0.218);
  display: flex;
  border-radius: 35px;
  width: max-content;
}
.searchfield {
  padding: 1px !important;
}
.MuiOutlinedInput-root {
  padding: 3px !important;
  border: none !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.css-1qqsdnr-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-input {
  min-width: 28vw !important;
  padding-top: 8px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  display: none !important;
}
