.tweet_post_body {
  width: 100%;
  padding: 15px;
}
.post_user {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: center;
  margin: auto;
}
.tweet_post_input {
  height: 100%;
  width: 100%;
  border: none;
}
.tweet_post_input::placeholder {
  font-size: 18px;
  font-weight: 500;
}
.tweet_post_input:focus {
  border: none !important;
  outline: none !important;
}
.tweet_post_button {
  padding: 8px 18px;
  background-color: rgb(127, 203, 253);
  color: white;
  border: none;
  border-radius: 35px;
}
.disable_btn {
  background-color: rgb(29, 155, 240) !important;
}
.tweet_post_extras {
  color: rgb(29, 155, 240);
  margin: 0px 7px;
  border-radius: 35px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.tweet_post_extras:hover {
  background-color: rgba(240, 240, 240, 0.899);
}
.tweet_post_footer {
  border-top: 1px solid rgba(236, 236, 236, 0.845);
}
.tweet_post_extras_input {
  /* display: none; */
  /* visibility: hidden; */
  opacity: 0;
  z-index: 2;
}
.input-icons {
  position: absolute;
}
