/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
a {
  text-decoration: none !important;
}
.heading1 {
  font-size: 65px;
  font-weight: bold;
  margin: 45px 0px;
  font-family: 'Segoe UI', Helvetica;
  letter-spacing: 2px;
}
.heading3 {
  font-size: 31px;
  /* margin-bottom: 25px; */
  font-weight: bold;
  letter-spacing: 3px;
}
.heading6 {
  font-weight: bold;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.heading4 {
  font-weight: bold;
  font-size: 20px;
}
.small_font {
  font-size: 13px;
  line-height: 13px;
}
.footer_heading {
  font-weight: bold;
  font-size: 25px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
