.home_posts {
  border-top: 1px solid rgba(236, 236, 236, 0.845);
  padding: 8px;
}
.post_footer_button {
  border: none;
  background: none;
  /* color: rgb(29, 155, 240); */
  color: rgb(87, 87, 87);
}
